body {
    font-family: 'Jost', sans-serif;
    background: #F0F0F3;
}

.top {
    background-image: url('./images/bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 56px;
}
.logo{
    width: 160px;
}
.flag{
    width: 30px;
    height: 20px;
}

.navbar {
    padding: 14px 26px;
}

.custom-bg {
    background: linear-gradient(108.61deg, rgba(0, 0, 0, 0.08) 25.19%, rgba(0, 0, 0, 0.16) 74.81%);
    backdrop-filter: blur(40px);
    border-radius: 86px;
}

.arrow {
    width: 14px;
    height: 8px;
    display: block;
}

.link {
    font-size: 20px;
    font-weight: 500;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    margin-bottom: 22px;
}

.second {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 32px;
}

.form_p {
    font-size: 26px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}

.form_input {
    box-shadow: 1px 1px 2px 0px #AEAEC033 inset, -1px -1px 1px 0px #FFFFFFB2 inset;
    border: 2px solid #F0F0F3;
    color: black;
    padding: 16px 32px;
    border-radius: 16px;
    background-color: #fff;
}

.form_input::placeholder {
    color: black;
}

.send_button {
    border: .7px solid #FFFFFF;
    box-shadow: 0px 10px 32px -4px #18274B1A, 0px 6px 14px -6px #18274B1F;
    color: #fff;
    background-color: #3466FE;
    text-align: center;
    padding: 12px 0;
    font-size: 22px;
    font-weight: 500;
    border-radius: 16px;
}

.wm_link {
    font-size: 20px;
    font-weight: 500;
    padding: 16px 32px;
    background-color: #3466FE;
    border-radius: 16px;
}

.wm_logo {
    height: 30px;
    width: 82px;
}

.gap_custom {
    gap: 130px;
}

header {
    padding-bottom: 62px;
}

.custom-option {
    width: 100%;
    height: 0px;
    display: flex;
    opacity: 0;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
    bottom: 20%;
    z-index: -1;
    left: 50%;
    justify-content: space-between;
    transform: translateX(-50%);
    background: #ac7c4f;
    backdrop-filter: blur(40px);
    border-radius: 20px;
    transition: all .1s;
}

.custom-option.active {
    opacity: 1;
    bottom: -120%;
    z-index: 10;
    height: 80px;
}
.transition-transform {
    transition: transform 0.3s ease;
}
.transition-opacity {
    transition: opacity 0.3s ease;
}

.custom-option img {
    width: 30px;
    height: 20px;
}

@media (max-width:1280px) {
    .top {
        background-size: 88% 110%;
        background-image: url('./images/bg_tab.png');
    }

    .gap_custom {
        gap: 60px;
    }

    h1 {
        font-size: 38px;
    }

    .second {
        font-size: 20px;
    }
}
@media (max-width:760px) {
    .top {
        background-size: 95% 95%;
        background-image: url('./images/bg_mob.png');
    }
}
@media (max-width:550px) {
    .logo{
        width: 120px;
    }
    .form_p{
        font-size: 20px;
        color: black;
    }
}
@media (max-width:420px) {
    .logo{
        width: 80px;
    }
    .form_p{
        font-size: 20px;
    }
}

.container {
    @media (width >=96rem) {
        max-width: 87rem;
    }
}
